@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Quark Light";
  font-style: normal;
  font-weight: normal;
  src: local("Quark Light"),
    url("../public/fonts/Quark-Light.woff") format("woff");
}
